# Ignore the virtual environment folder
myenv/
.venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore VSCode settings folder
.vscode/

# Ignore environment variable file
.env

# Ignore frontend dependencies
node_modules/
